{% set host_ip = hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] %}
# host: {{ inventory_hostname }}
# eth0: {{ ansible_all_ipv4_addresses[0] }}
# eth1: {{ ansible_all_ipv4_addresses[1] }}

description "Consul client process"

start on (local-filesystems and net-device-up IFACE=eth1)
stop on runlevel [!12345]

respawn

setuid consul
setgid consul

exec consul agent -bind={{ host_ip }} -config-dir /etc/consul.d/client


